addict==2.4.0
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
chumpy==0.70
colorama==0.4.6
crcmod==1.7
decorator==4.4.2
decord==0.6.0
einops==0.7.0
fvcore==0.1.5.post20221221
imageio==2.31.6
imageio-ffmpeg==0.4.9
iopath==0.1.10
jmespath==0.10.0
json-tricks==3.17.3
markdown-it-py==3.0.0
mdurl==0.1.2
mmcv-full==1.5.0
mmdet==2.23.0
mmpose==0.24.0
model-index==0.1.11
moviepy==1.0.3
munkres==1.1.4
opencv-contrib-python==4.8.1.78
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.28
ordered-set==4.1.0
oss2==2.17.0
portalocker==2.8.2
proglog==0.1.10
pycocotools==2.0.7
pycryptodome==3.19.0
pymemcache==4.0.0
requests==2.28.2
rich==13.4.2
setuptools==60.2.0
shapely==2.0.2
termcolor==2.3.0
terminaltables==3.1.10
xtcocotools==1.14.3
yacs==0.1.8
yapf==0.20.0
